.brand-card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0;
    height: 280px;
    width: 250px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 70px;
    display: flex;
  
    justify-content: center;
    overflow: hidden;
}

.brand-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.brand-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 0;
}


/* Hides the brand name */
.brand-name {
    display: none;
}

.brand-card {
    align-items: center; /* vertically centers image */
    text-align: center;  /* horizontally centers image */
}
