
.navbar-wrapper {
  background-color: #111;          /* black top background */
  width: 100%;
}

.navbar-container {
  max-width: 100%;     /* ya line hata bhi sakti ho */
  width: 100%;
  margin: 0;
  padding: 0 16px;
}




/* Top bar full width dark */
.top-navbar {
  background-color: transparent;
}

/* Grey bar */
.dropdown-navbar {
  background-color: #383434;
}





/* Mobile view */
@media (max-width: 768px) {
  .navbar-container {
    max-width: 1360px;
    margin: 0;
    padding: 0 8px;
  }

  .top-navbar,
  .dropdown-navbar {
    min-height: 56px;
  }
}
