/* Container for all product cards */
/* .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 80px;
} */




.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}










/* Each product card */
.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;










  /* height: 500px;   yhi pe min and with fix krna h*/
  min-height: 500px;
  width: 300px;
}








.product-card:hover {
  transform: scale(1.02);
}










/* Image container to fix size */
.product-image-container {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Image size and crop */
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Product info section */
.product-info {
  margin-top: 12px;
}

.product-info h2 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.product-info p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}

/* Buttons below the product */
.product-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* .product-buttons button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-buttons button:hover {
  background-color: #ddd;
} */



.product-buttons button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 18px; /* thoda bada icon */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.product-buttons button:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}




.product-buttons button:first-child {
  color: #e74c3c; /* red heart */
}

.product-buttons button:last-child {
  color: #2ecc71; /* green cart */
}
